.todoSection {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todoList {
    padding-inline: 0;
}

.spacing {
    display: flex;
    gap: 16px;
}